/* BARRA DE NAVEGACIÓN */

.navbar {
    padding: 0;
    margin: 0;
}

.barra {
    background-color: black;
}

.barra-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra .icono-navbar {
    width: 90px;
}

.barra .icono-navbar img {
    transition: all 0.3s ease-in;

}

.barra .icono-navbar img:hover {
    transform: scale(1.1);
}

.barra img {
    width: 100%;
}

.barra-lista ul li a {
    color: white;
    font-family: 'Unbounded', cursive;
    position: relative;
}

.barra-lista ul li a::before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all .3s ease-in;
}

.barra-lista ul li a:hover::before {
    scale: 1.1;
    width: 100%;
    left: 0;
}

/* Formulario de Contacto */

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

table {
    margin: 40px 40px;
}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
    text-align: center;
}

td, th {
    border: solid 1px black;
    padding: 8px 15px;
}

.horarios {
    text-align: center;

}




/* Media Querys */


@media screen and (max-width: 768px) {

    .barra {
        height: 70px;
    }

    .navbar-toggler {
        background-color: white;
        border: 2px solid rgb(139, 94, 76);
    }

    .barra-lista {
        background-color: black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}