/* BARRA DE NAVEGACIÓN */

.navbar {
    padding: 0;
    margin: 0;
}

.barra {
    background-color: black;
}

.barra-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra .icono-navbar {
    width: 90px;
}

.barra .icono-navbar img {
    transition: all 0.3s ease-in;

}

.barra .icono-navbar img:hover {
    transform: scale(1.1);
}

.barra img {
    width: 100%;
}

.barra-lista ul li a {
    color: white;
    font-family: 'Unbounded', cursive;
    position: relative;
}

.barra-lista ul li a::before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all .3s ease-in;
}

.barra-lista ul li a:hover::before {
    scale: 1.1;
    width: 100%;
    left: 0;
}


/* Sección Productos */

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: coral; */
    box-sizing: border-box;
    padding-left: 0;
    margin-top: 30px;
    gap: 20px;
}

/* .productos li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
} */
.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover {
    border-color: #c78c19;
}

.productos li:hover h2 {
    font-size: 33px;
}

.productos li:active {
    border-color: #088c19;
}

.productos li h2 {
    font-family: 'Abril Fatface', cursive;
}

.productos li img {
    width: 90%;
}

.productos p:last-child {
    font-size: 1rem;
    font-weight: bold;
}





/* Media Querys */


@media screen and (max-width: 768px) {

    .barra {
        height: 70px;
    }

    .navbar-toggler {
        background-color: white;
        border: 2px solid rgb(139, 94, 76);
    }

    .barra-lista {
        background-color: black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Sección Productos */

    .productos  {
        display: flex;
        flex-direction: column;
    }

    .productos li {
        width: 50%;
    }

}